[submodule "lib/Turtleford"]
	path = lib/Turtleford
	url = git@github.com:USSTRocketry/Turtleford.git
[submodule "lib/Tisdale-proto-files"]
	path = lib/Tisdale-proto-files
	url = git@github.com:USSTRocketry/Tisdale-proto-files.git
